In [74]:
import pandas as pd
from math import sqrt
import numpy as np

In [75]:
bookRatingsdf = pd.read_csv("BX-Book-Ratings.csv", on_bad_lines='skip')
bookdf = pd.read_csv("BX-Books.csv", on_bad_lines='skip')
userdf = pd.read_csv("BX-Users.csv",on_bad_lines='skip')

mergedRatingsBooks = pd.merge(bookRatingsdf, bookdf, how = 'inner', on = ['ISBN'])
mergedRatingsBooks = mergedRatingsBooks.drop(['Year-Of-Publication', 'Book-Author', 'Publisher', 'Image-URL-S','Image-URL-M','Image-URL-L'],  1) #we don't really need this at the moment
mergedRatingsBooks

C:\Users\clari\AppData\Local\Temp\ipykernel_17848\1539067957.py:6: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  mergedRatingsBooks = mergedRatingsBooks.drop(['Year-Of-Publication', 'Book-Author', 'Publisher', 'Image-URL-S','Image-URL-M','Image-URL-L'],  1) #we don't really need this at the moment

,User-ID,ISBN,Book-Rating,Book-Title
0,276725,034545104X,0,Flesh Tones: A Novel
1,2313,034545104X,5,Flesh Tones: A Novel
2,6543,034545104X,0,Flesh Tones: A Novel
3,8680,034545104X,5,Flesh Tones: A Novel
4,10314,034545104X,9,Flesh Tones: A Novel
...,...,...,...,...
855981,276688,0517145553,0,Mostly Harmless
855982,276688,1575660792,7,Gray Matter
855983,276690,0590907301,0,Triplet Trouble and the Class Trip (Triplet Tr...
855984,276704,0679752714,0,A Desert of Pure Feeling (Vintage Contemporaries)
855985,276704,0806917695,5,Perplexing Lateral Thinking Puzzles: Scholasti...

In [76]:
ratingdf = mergedRatingsBooks.drop('Book-Title', 1)
ratingdf

C:\Users\clari\AppData\Local\Temp\ipykernel_17848\4004201289.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  ratingdf = mergedRatingsBooks.drop('Book-Title', 1)

        User-ID        ISBN  Book-Rating
0        276725  034545104X            0
1          2313  034545104X            5
2          6543  034545104X            0
3          8680  034545104X            5
4         10314  034545104X            9
...         ...         ...          ...
855981   276688  0517145553            0
855982   276688  1575660792            7
855983   276690  0590907301            0
855984   276704  0679752714            0
855985   276704  0806917695            5

[855986 rows x 3 columns]

In [77]:
userInput = [{'Book-Title': 'Gray Matter','Book-Rating' : 5.00},
            {'Book-Title': 'The Notebook','Book-Rating' : 3.00},
            {'Book-Title': 'Flesh Tones: A Novel','Book-Rating' : 4.50},
            {'Book-Title': 'Lightning','Book-Rating' : 4.00},
            {'Book-Title': 'Night Sins	','Book-Rating' : 5.00},]
inputBooks = pd.DataFrame(userInput)
inputBooks

             Book-Title  Book-Rating
0           Gray Matter          5.0
1          The Notebook          3.0
2  Flesh Tones: A Novel          4.5
3             Lightning          4.0
4          Night Sins\t          5.0

In [78]:
inputId = mergedRatingsBooks[mergedRatingsBooks['Book-Title'].isin(inputBooks['Book-Title'].tolist())]
inputId

        User-ID        ISBN  Book-Rating            Book-Title
0        276725  034545104X            0  Flesh Tones: A Novel
1          2313  034545104X            5  Flesh Tones: A Novel
2          6543  034545104X            0  Flesh Tones: A Novel
3          8680  034545104X            5  Flesh Tones: A Novel
4         10314  034545104X            9  Flesh Tones: A Novel
...         ...         ...          ...                   ...
745017   112001  0606191267           10          The Notebook
802200   179075  1570424403            0          The Notebook
802201   256407  1570424403            0          The Notebook
842527   244685  0553290703            9             Lightning
855982   276688  1575660792            7           Gray Matter

[1005 rows x 4 columns]

In [79]:
userSubset = ratingdf[ratingdf['ISBN'].isin(inputId['ISBN'].tolist())]
print(userSubset.groupby('ISBN').count())

            User-ID  Book-Rating
ISBN
0312876130        3            3
034545104X       60           60
0380699745       12           12
0385311923       23           23
0399133194       10           10
0425115801      134          134
0425192032       33           33
0440221501       61           61
0446520802      116          116
0446605239      465          465
0446676098       66           66
0553290703        1            1
0606191267        1            1
0786003898        3            3
0812570065       14           14
1570424403        2            2
1575660792        1            1

In [80]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['User-ID'])

def take_5_elem(x):
    # print (len(x[1]))
    return len(x[1])

In [81]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup, key=take_5_elem, reverse=True)

userSubsetGroup = userSubsetGroup[0:100]
print(userSubsetGroup[0:5])

[(11676,         User-ID        ISBN  Book-Rating
69        11676  0446520802           10
76183     11676  0425192032            8
98744     11676  0446605239            6
351024    11676  0385311923            7
404549    11676  0399133194            8
411797    11676  0446676098           10), (16795,         User-ID        ISBN  Book-Rating
377       16795  0425115801            8
98752     16795  0446605239           10
351025    16795  0385311923            7
485437    16795  0812570065            0), (35859,         User-ID        ISBN  Book-Rating
387       35859  0425115801            0
76185     35859  0425192032            7
98782     35859  0446605239            0
476840    35859  0380699745            0), (76352,         User-ID        ISBN  Book-Rating
408       76352  0425115801            0
48419     76352  0440221501            0
98854     76352  0446605239            0
411813    76352  0446676098            0), (185233,        User-ID        ISBN  Book-Rating
132     185233  0446520802            7
454     185233  0425115801            0
48444   185233  0440221501            0
99022   185233  0446605239            0)]

In [85]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:

    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='ISBN')
    inputId = inputId.sort_values(by='ISBN')

    #Get the N for the formula
    nRatings = len(group)

    #Get the review scores for the movies that they both have in common
    temp_df = inputId[inputId['ISBN'].isin(group['ISBN'].tolist())]

    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['Book-Rating'].tolist()
   
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['Book-Rating'].tolist()
   
    
    #Now let's calculate the pearson correlation between two users, so called, x and y manually (check the formula from week 7 slide)
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)

    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        print(Sxx, Syy)
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
        
    else:
        pearsonCorrelationDict[name] = 0

-1082520.0 12.833333333333314

ValueError: math domain error

In [ ]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['User-ID'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
print(pearsonDF.head())

ValueError: Length mismatch: Expected axis has 0 elements, new values have 1 elements

In [ ]:
topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:50]
print(topUsers.head(100))

KeyError: 'similarityIndex'

In [ ]:
topUsersRating=topUsers.merge(ratingdf, left_on='User-ID', right_on='User-ID', how='inner')
print(topUsersRating.head(100))

    similarityIndex  userId  bookId  Rating
0               1.0      63       1     5.0
1               1.0      63     296     5.0
2               1.0      63     591     4.0
3               1.0      63    1084     3.0
4               0.0     314       1     3.0
..              ...     ...     ...     ...
95              0.0      18    1041     4.0
96              0.0      18     591     4.0
97              0.0      21       1     3.0
98              0.0      21       2     3.0
99              0.0      21    1041     3.5

[100 rows x 4 columns]

In [ ]:
#Multiplies the similarity by the user’s ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['Book-Rating']
print(topUsersRating.head())

   similarityIndex  userId  bookId  Rating  weightedRating
0              1.0      63       1     5.0             5.0
1              1.0      63     296     5.0             5.0
2              1.0      63     591     4.0             4.0
3              1.0      63    1084     3.0             3.0
4              0.0     314       1     3.0             0.0

In [ ]:
#Applies a sum to the topUsers after grouping it up by movieId
tempTopUsersRating = topUsersRating.groupby('ISBN').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
print(tempTopUsersRating.head())

        sum_similarityIndex  sum_weightedRating
bookId
1                       1.0                 5.0
2                       0.0                 0.0
70                      0.0                 0.0
78                      0.0                 0.0
82                      0.0                 0.0

In [ ]:
#Creates an empty dataframe
recommendation_df = pd.DataFrame()

#Now we take the weighted average
recommendation_df['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation_df['ISBN'] = tempTopUsersRating.index
print(recommendation_df.head(10))

        weighted average recommendation score  bookId
bookId
1                                         5.0       1
2                                         NaN       2
70                                        NaN      70
78                                        NaN      78
82                                        NaN      82
91                                        NaN      91
110                                       NaN     110
120                                       NaN     120
296                                       5.0     296
357                                       NaN     357

In [ ]:
recommendation_df = recommendation_df.sort_values(by='weighted average recommendation score', ascending=False)
recommendation_df

        weighted average recommendation score  bookId
bookId
1                                         5.0       1
296                                       5.0     296
591                                       4.0     591
1084                                      3.0    1084
2                                         NaN       2
70                                        NaN      70
78                                        NaN      78
82                                        NaN      82
91                                        NaN      91
110                                       NaN     110
120                                       NaN     120
357                                       NaN     357
971                                       NaN     971
997                                       NaN     997
1041                                      NaN    1041
1153                                      NaN    1153
1677                                      NaN    1677

In [ ]:
recommendedBook=mergedRatingsBooks.loc[mergedRatingsBooks['ISBN'].isin(recommendation_df['ISBN'])]

#we don't want to recommend the same movie
recommendedBook=recommendedBook.loc[~recommendedBook.bookId.isin(userSubset['ISBN'])]

print(recommendedBook)

KeyError: 'bookId'